CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
# CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y
CONFIG_IB=y
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
# CONFIG_PACKAGE_kmod-usb-net-rtl8152 is not set
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_ethtool=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_PACKAGE_luci-app-store=y

#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_ariaboard_photonicat=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_armsom_sige3=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_armsom_sige7=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_sinovoip_bpi-r2-pro=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_cyber_cyber3588-aib=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_ezpro_mrkaio-m68s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_firefly_roc-rk3328-cc=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_firefly_roc-rk3568-pc=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopc-t4=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopc-t6=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2c=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2c-plus=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r3s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s-enterprise=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4se=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5c=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r6c=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r6s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_huake_guangmiao-g4c=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lunzn_fastrhino-r66s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lunzn_fastrhino-r68s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t68m=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_pine64_rock64=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_pine64_rockpro64=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_cm3-io=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e25=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-3a=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-3b=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-3c=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-5a=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-5b=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-pi-4a=n
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-pi-e=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-pi-s=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_zero-3e=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_zero-3w=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-5=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-5-plus=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-r1-plus=y
#CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-r1-plus-lts=y




