name: LEDE
on:
  #schedule:
    #- cron: 0 0 */2 * *
  workflow_dispatch:
    
jobs:
  build_packages:
    name: openwrt_project
    runs-on: ubuntu-22.04
    steps:
      - name: ck
        uses: actions/checkout@main
      - name: Create simulated physical disk
        run: |
          mnt_size=$(expr $(df -h /mnt | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 1)
          root_size=$(expr $(df -h / | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 4)
          sudo truncate -s "${mnt_size}"G /mnt/mnt.img
          sudo truncate -s "${root_size}"G /root.img
          sudo losetup /dev/loop6 /mnt/mnt.img
          sudo losetup /dev/loop7 /root.img
          sudo pvcreate /dev/loop6
          sudo pvcreate /dev/loop7
          sudo vgcreate github /dev/loop6 /dev/loop7
          sudo lvcreate -n runner -l 100%FREE github
          sudo mkfs.xfs -f -i sparse=0 -b size=4096 /dev/github/runner
          sudo mkdir -p /builder
          sudo mount /dev/github/runner /builder
          sudo chown -R runner:runner /builder
          df -Th
      - name: install depends
        run: |
            sudo apt update
            sudo apt install -y --no-install-recommends ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
            bzip2 ccache clang cmake cpio curl device-tree-compiler flex gawk gcc-multilib g++-multilib gettext \
            genisoimage git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev \
            libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev \
            libreadline-dev libssl-dev libtool llvm lrzsz libnsl-dev ninja-build p7zip p7zip-full patch pkgconf \
            python3 python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion \
            swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
      - name: config source tree
        run: |
            cd /builder
            git clone --depth=1 https://github.com/coolsnowwolf/lede
            cd lede 
            cp $GITHUB_WORKSPACE/device .config
            cp $GITHUB_WORKSPACE/src feeds.conf.default
            bash $GITHUB_WORKSPACE/diy.sh
            
            cat $GITHUB_WORKSPACE/other_app.cf >> .config                        
            # cp $GITHUB_WORKSPACE/config-6.6 target/linux/rockchip/armv8/config-.6
      - name: download pkg      
        run: |
            cd /builder/lede
            make defconfig
            make -j4 download
      - name: gent firmware
        run: |
            cd /builder/lede
            make -j4 tools/compile toolchain/compile target/compile
            make -j1 
            mv bin/targets/*/*/*.gz $GITHUB_WORKSPACE/
      - name: Upload release asset
        uses: softprops/action-gh-release@v2.2.1
        with: 
          tag_name: large         
          name:  自动发布 kwrt_snapshot 固件
          files: |
              ./*.gz 
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
