name: small
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
    inputs:
      rootfs_size:
        required: true
        default: '256'
      device:
        type: choice
        default: 'friendlyarm_nanopi-r2s'
        required: true
        description: |
          输入 软路由型号 可选值如下：
        options:
          - ariaboard_photonicat
          - armsom_sige3
          - armsom_sige7
          - cyber_cyber3588-aib
          - ezpro_mrkaio-m68s
          - firefly_roc-rk3328-cc
          - firefly_roc-rk3568-pc
          - friendlyarm_nanopc-t4
          - friendlyarm_nanopc-t6
          - friendlyarm_nanopi-r2c
          - friendlyarm_nanopi-r2c-plus
          - friendlyarm_nanopi-r2s
          - friendlyarm_nanopi-r3s
          - friendlyarm_nanopi-r4s
          - friendlyarm_nanopi-r4se
          - friendlyarm_nanopi-r4s-enterprise
          - friendlyarm_nanopi-r5c
          - friendlyarm_nanopi-r5s
          - friendlyarm_nanopi-r6c
          - friendlyarm_nanopi-r6s
          - huake_guangmiao-g4c
          - lunzn_fastrhino-r66s
          - lunzn_fastrhino-r68s
          - lyt_t68m
          - pine64_rock64
          - pine64_rockpro64
          - radxa_cm3_io
          - radxa_e25
          - radxa_rock-3a
          - radxa_rock-3b
          - radxa_rock-3c
          - radxa_rock-5a
          - radxa_rock-5b
          - radxa_rock-pi-4a
          - radxa_rock-pi-e
          - radxa_rock-pi-s
          - radxa_zero-3e
          - radxa_zero-3w
          - sinovoip_bpi-r2-pro
          - xunlong_orangepi-5
          - xunlong_orangepi-5-plus
          - xunlong_orangepi-r1-plus
          - xunlong_orangepi-r1-plus-lts
jobs:
  build_packages:
    name: start
    runs-on: ubuntu-latest
    steps:
      - name: ck
        uses: actions/checkout@main
      
      - name: setup1
        run: |
         wget -qO- https://mirror.nju.edu.cn/immortalwrt/snapshots/targets/rockchip/armv8/immortalwrt-imagebuilder-rockchip-armv8.Linux-x86_64.tar.zst|tar --zstd -xf -
      - name: make
        run: |
          . $GITHUB_WORKSPACE/package.conf
          cd *imagebuilder* ; # wget -q -P packages/ -i $GITHUB_WORKSPACE/dl_pkg.url
           cp -f  $GITHUB_WORKSPACE/feeds.conf repositories.conf
          sudo make V=s image PROFILE="${{github.event.inputs.device}}" PACKAGES="$PKG" ROOTFS_PARTSIZE="${{github.event.inputs.rootfs_size}}" \
           FILES="$GITHUB_WORKSPACE/files"
          mkdir -p $GITHUB_WORKSPACE/release
          sudo mv -v bin/targets/*/*/*img.gz  $GITHUB_WORKSPACE/release/
          
      - name: Upload release asset
        uses: softprops/action-gh-release@v2.2.1
        with: 
          tag_name: small         
          name:  自动发布 kwrt_snapshot 固件
          files: |
              ./release/* 
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
